# Virtual Environment
venv/
venv311/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook cache
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Environment variables
.env

# Large/raw data files
data/raw/*.pdf
data/raw/*.csv

# VS Code settings
.vscode/

# Temporary files
*.tmp